*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    background-color: rgb(7, 6, 6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: space-between;
}
h3{
    align-items: center;
}
.sub{
    background: brown;
}
main section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid rgb(0, 0, 0);
    margin: 3px;
    padding: 8px;
}
/* h3{
    display: flex;
    align-items: unset;
    justify-content: center;
} */
